<div class="input-inline">
	<label for="{{inputsData.name}}" class="label">{{inputsData.label}}</label>
  {{#if isEdit}}
    <input value="{{inputsData.value}}"
      type="{{inputsData.type}}" 
      name="{{inputsData.name}}"
      required="{{inputsData.required}}"
      placeholder="&nbsp;">
  {{else}}
    <input value="{{inputsData.value}}"
      readonly
      type="{{inputsData.type}}" 
      name="{{inputsData.name}}"
      required="{{inputsData.required}}"
      placeholder="&nbsp;">
  {{/if}}
</div>
