<div class="field-floating">
	<label for="{{inputData.name}}" class="inp">
  <input type="{{inputData.type}}" 
    name="{{inputData.name}}"
    required="{{inputData.required}}"
    placeholder="&nbsp;">
  <span class="label">{{inputData.label}}</span>
  <span class="focus-bg"></span>
	</label>
</div>
