
<form class="modal">
  <h1 class="title-center">{{formData.title}}</h1>

  <div class="modal-content">
    {{#each formInputs}}
		  {{> input-form inputData=this}}
	  {{/each}}
  </div>
	
  <div class="modal-actions">
    {{!--                 for redirect '.hbs':           --}}
    <a href="{{formData.button-href}}" class="primary-btn">{{formData.button-label}}</a>

	  <a href="{{formData.link-href}}" class="action-link">{{formData.link-title}}</a>
  </div>
	
  
</form>